<button mat-raised-button color="warn" routerLink="/controle/fornecedor/deletar/:cnpj">
  Deletar um fornecedor
</button>
<br><br>
<table mat-table [dataSource]="fornecedores" class="mat-elevation-z8">
  
  <ng-container matColumnDef="nomeFornecedor">
    <th mat-header-cell *matHeaderCellDef> Fornecedor </th>
    <td mat-cell *matCellDef="let fornecedores"> {{fornecedores.nomeFornecedor}} </td>
 </ng-container>

 <ng-container matColumnDef="cnpj">
  <th mat-header-cell *matHeaderCellDef> CNPJ </th>
  <td mat-cell *matCellDef="let fornecedores"> {{fornecedores.cnpj}} </td>
</ng-container>

<ng-container matColumnDef="telFornecedor">
  <th mat-header-cell *matHeaderCellDef> Telefone </th>
  <td mat-cell *matCellDef="let fornecedores"> {{fornecedores.telFornecedor}} </td>
</ng-container>

<ng-container matColumnDef="emailFornecedor">
  <th mat-header-cell *matHeaderCellDef> Fornecedor </th>
  <td mat-cell *matCellDef="let fornecedores"> {{fornecedores.emailFornecedor}} </td>
</ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!--
<mat-card>
  <mat-card-title> Fornecedores Cadastrados </mat-card-title>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>CNPJ</th>
        <th>Telefone</th>
        <th>E-mail</th>
      </tr>
    </thead>
    <tbody>
      <tr></tr>
      <tr *ngFor="let cadastrado of fornecedores">
        <td>
          {{ cadastrado.nomeFornecedor }}
        </td>
        <td>
          {{ cadastrado.cnpj }}
        </td>
        <td>
          {{ cadastrado.telFornecedor }}
        </td>
        <td>
          {{ cadastrado.emailFornecedor }}
        </td>
          <td class="row">
            <a class="delete"  routerLink="/controle/fornecedor/deletar/{{ cadastrado.  cnpj }}" >
              <i class="material-icons"> delete </i>
            </a>
        </td>
      </tr>
    </tbody>
  </table>
</mat-card>
-->