<a routerLink=""> Home</a>
<h1> Cadastrar Entrada </h1>
<label for="nomeProduto"> Nome do produto </label>
<input type="text" nome="nomeProduto" [(ngModel)]="entradaProduto.nomeProduto">
<br>
<label for="quantidade"> Quantidade </label>
<input type="number" nome="quantidade" [(ngModel)]="entradaProduto.quantidade">
<br>
<label for="valor"> Valor </label>
<input type="number" nome="valor" [(ngModel)]="entradaProduto.valor">
<br>
<label for="lote"> Lote </label>
<input type="number" nome="lote" [(ngModel)]="entradaProduto.lote">