<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">Bem-vindo!</mat-card-title>
    <mat-card-subtitle class="subtitle">Sistemas de controle de estoque :)</mat-card-subtitle>

    <a routerLink="/controle/listar/produto" class=""> Produtos cadastrados </a>
    <hr>
    <a routerLink="/cadastroProdutos/cadastrar"> Cadastrar novo produto </a>
    <hr>
    <a routerLink="/controle/listar/entrada">Listar entrada</a>
    <hr>
    <a routerLink="/controle/cadastrar/entrada">Entrada Produto</a>
</mat-card>