<mat-card>
    <mat-card-title>  Produtos Cadastrados </mat-card-title>
    <table >
        <thead>
            <tr>
                <th>Nome </th>
                <th>Unidade Med.</th>
                <th>Criado em</th>  
            </tr>
        </thead>
        <tbody>
            <tr>
                <tr *ngFor= "let cadastrado of cadastros">
                <td>
                    {{ cadastrado.nomeProduto }}
                </td>
                <td>
                    {{ cadastrado.unidadeMed}}
                </td>
                <td>
                    {{ cadastrado.createdAt | date: "dd/MM/yyyy" }}
                </td>         
            </tr>
        </tbody>    
    </table>
</mat-card>