<a routerLink=""> Home</a>
<h1>Cadastrar Produto</h1>
<label for="nomeProduto">Nome do produto</label>
<input type="text" nome="nomeProduto" [(ngModel)]="cadastroProduto.nomeProduto">
<br>

<label >Unidade de  Med.</label>
<select class="unidadeMed" [(ngModel)]="cadastroProduto.unidadeMed">
    <option value="UNIDADE"> UNIDADE </option>
    <option value="CAIXA"> CAIXA </option>
    <option value="PACOTE"> PACOTE </option>
</select>

<br>
<br>

<!--Cadastro do Fornecedor-->
<!--
<label for="nomeFornecedor"> Nome do Fornecedor</label>
<input type="text" nome="nomeFornecedor" [(ngModel)]="cadastroProduto.nomeFornecedor">
-->

<br/>
<br/>
<button (click)="cadastrar( )">Cadastrar</button>
<br/>

