<mat-card>
  <mat-card-title> Cadastrar Fornecedor </mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <mat-label for="nomeFornecedor">Nome </mat-label>
      <input
        matInput
        placeholder="Informe o nome do fornecedor"
        type="text"
        nome="nomeFornecedor"
        [(ngModel)]="nomeFornecedor"
      />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label for="cnpj">CNPJ </mat-label>
      <input
        matInput
        placeholder="Informe o cnpj do fornecedor"
        type="number"
        nome="cnpj"
        [(ngModel)]="cnpj"
      />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label for="telFornecedor">Telefone </mat-label>
      <input
        matInput
        placeholder="Informe o Telefone do fornecedor"
        type="text"
        nome="telefoneFornecedor"
        [(ngModel)]="telFornecedor"
      />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label for="emailFornecedor">E-mail </mat-label>
      <input
        matInput
        placeholder="Informe o e-mail do fornecedor"
        type="text"
        nome="emailFornecedor"
        [(ngModel)]="emailFornecedor"
      />
    </mat-form-field>

    <br /><br />

    <button mat-raised-button color="primary" (click)="cadastrar()">
      Cadastrar
    </button>
    <br /><br />
    <a mat-stroked-button color="warn" routerLink="/controle/listar/fornecedor">
      fornecedores cadastrados
    </a>
  </mat-card-content>
</mat-card>
