<mat-card>
    <a mat-raised-button color="primary" routerLink="/controle/cadastrar/entrada">
        <mat-icon>event</mat-icon>
        Cadastrar Novo Produto
    </a>

    <br><br>

    <mat-card-title>  Produtos Em Estoque </mat-card-title>
    <table>
        <thead>
            <tr>
                <th> Produto </th>
                <th> Quantidade </th>  
                <th> Valor </th>
                <th> Lote </th>
            </tr> 
        </thead>
        <tbody>
            <tr *ngFor= "let entradas of entradas">
                <td>
                    {{ entradas.nomeProduto}}
                </td>
                <td>
                    {{ entradas.quantidade  }}
                </td>
                <td>
                    {{ entradas.valor }}
                </td>
                <td>
                    {{ entradas.lote }}
                </td>
                <td class="row">
                    <a class="delete"  routerLink="/controle/deletar/estoque/{{ entradas.nomeProduto }}" >
                      <i class="material-icons"> delete </i>
                    </a>
                </td>
            </tr>
        </tbody>

    </table>
</mat-card>