.link-toolbar{
    text-decoration: none;
    color: aliceblue;
}
<<<<<<< HEAD
=======

>>>>>>> b4e2887f5a86728f8a57c6c0c7141114afb7fc0a
.header{
    display: flex;
    align-items: center;
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo{
    max-height: 50px;
}