<mat-card>
    <mat-card-title>Atualizar Produto</mat-card-title>
    <form action="">
        <mat-form-field>
            <input matInput placeholder="Nome">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Unidade de Medida">
            <mat-select>
            <mat-option value="UNIDADE"> UNIDADE </mat-option>
            <mat-option value="CAIXA"> CAIXA </mat-option>
            <mat-option value="PACOTE"> PACOTE </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</mat-card>

<button mat-raised-button color="primary"> Atualizar </button>

<button mat-raised-button> Cancelar </button>
